.navbar {
    height: 80px;
    background-color: #383636;

}

.navbar .navbar-brand {
    position: relative;
    left: 1%;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
}
.navbar a {
    color: white;
}

.navbar button {
    background-color: #383636;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid white;
}

.navbar li {
    padding-right: 12px;
    padding-left: 12px;
}

.dropdown-menu {
    min-width: inherit;
    background-color: white;
    opacity: .95;
}

.dropdown-menu a {
    font-size: 16px;
    font-family: Montserrat;
    text-align: center;

}
.dropdown-menu > a,
.dropdown-menu > a:hover
.dropdown-menu > a:focus {
    color: black;
}
.contact-page {
    min-height: 1000px;
    background: linear-gradient(black, orange);
    overflow: hidden;
}
.contact-page h1 {
    color: white;
    margin-top: 4%;
    font-family: Montserrat;
    text-align: center;
    border: 1px solid white;
    font-weight: bold;
    padding: 15px;
}
.contact-page-blurb {
    color: white;
    margin-top: 5%;
    font-family: Montserrat;
    font-size: 30px;
    position: relative;
    text-align: center;

}
.contact-page-blurb img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
label {
    color: white;
    font-family: Helvetica;
    font-size: 17px;
    position: relative;
    font-weight: bold;
}

#first-label {
    margin-top: 10.5%;
}
input::placeholder,
textarea::placeholder {
    color: black;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 15px;
    position: relative;

}

input[type=submit] {
    position: relative;
    cursor: pointer;
    font-family: Montserrat;
    display: block;
    margin: 0 auto;
    width: 80px;
}

footer {
    background-color: #383636;
    height: 42px;
}

footer a {
    color: white;
    padding-right: 10px;
    position: relative;
    top: 6px;
}

footer a:hover,
footer a:focus {
    color: white;
}

footer p {
    color: white;
    display: inline-block;
    float: right;
    position: relative;
    top: 25%;
    margin-right: 15px;
}

#twitter-footer {
    margin-left: 25px;
    position: relative;
    top: 5px;
}

#instagram-footer {
    position: relative;
    top: 5px;
}

#youtube-footer {
    position: relative;
    top: 5px;
    padding-right: 8px;
}
#tiktok-footer {
    position: relative;
    top: 5px;


}

@media (max-width: 475px) {
    footer a {
        padding-right: 0px;
    }
    footer p {
        margin-right: 0px;
    }
    #twitter-footer {
        margin-left: 3px;
    }
    #discord-footer {
        top: 5px;
    }
    #instagram-footer {
        position: relative;
        top: 5px;
    }
    #youtube-footer {
        padding-right: 0px;
    }
    #twitter-footer img {
        width: 18px;
        height: 18px;
    }

    #discord-footer img {
        width: 22px;
        height: 14px;
    }

    #instagram-footer img {
        width: 22px;
        height: 19px;
    }
    #youtube-footer img {
        width: 24px;
        height: 16px;
    }
    #tiktok-footer img {
        width: 17px;
        height: 19px;
    }
}

@media (min-width: 750px) {
    footer a img:hover {
        transform: scale(1.3);
        transition: all .3s ease-in-out;
    }
}

@media (max-width: 767.99px) {
    footer p {
        font-size: 10px;
    }
}

@media (max-width: 991.99px) {
    .navbar-collapse {
        background-color: black;
        opacity: .9;
        text-align: center;
        padding-bottom: 15px;
        z-index: 2;
    }
    .navbar li {
        margin-top: 15px;
    }
    input[type=submit] {
        margin-bottom: 15px;
    }
}